.banner{ background:url("banner.png") top left no-repeat; }
._01-首页-电力资讯_r2_c3{ width:258px; height:103px; background-position:-10px -10px; }
._01-首页-电力资讯_r6_c2{ width:1538px; height:96px; background-position:-10px -123px; }
._01-首页-电力资讯_r4_c5{ width:36px; height:32px; background-position:-278px -10px; }

