<link type="text/css" rel="stylesheet" href="/static/ceeemall/css/shujuzhengli.css">
<link type="text/css" rel="stylesheet" href="/static/ceeemall/css/gonggong.css">
<link type="text/css" rel="stylesheet" href="/static/ceeemall/css/geren.css">
<link type="text/css" rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/static/css/zTreeStyle.css">
<link type="text/css" rel="stylesheet" href="/static/css/jquery-ui.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/dialog/blue.css">
<link type="text/css" rel="stylesheet" href="/static/css/jquery.mloading.css">

<style>
    .lghz,.csz,.lgs_con{height:210px;overflow-y: scroll;}
    .lghz h6,.csz h6,.lgs_con h6{margin:0 0 0 0;}
        
    .ztree li .roots_close {
		margin-top:5px!important;
		background-position:0!important;
		background-image:url("/static/ceeemall/images/close1.jpg")!important;
	}
	
	.ztree li .root_close {
		margin-top:5px!important;
		background-position:0!important;
		background-image:url("/static/ceeemall/images/close1.jpg")!important;
	}
	
	.ztree li .roots_open {
		margin-top:5px!important;
		background-position:0!important;
		background-image:url("/static/ceeemall/images/open1.jpg")!important;
	}
	
	.ztree li .root_open {
		margin-top:5px!important;
		background-position:0!important;
		background-image:url("/static/ceeemall/images/open1.jpg")!important;
	}
	
	.ztree li .center_close {
		margin-top:5px!important;
		background-position:0!important;;
		background-image:url("/static/ceeemall/images/close1.jpg")!important;
	}
	
	.ztree li .center_open {
		margin-top:5px!important;
		background-position:0!important;;
		background-image:url("/static/ceeemall/images/open1.jpg")!important;
	}
	
	.ztree li .bottom_close {
		margin-top:5px!important;
		background-position:0!important;
		background-image:url("/static/ceeemall/images/close1.jpg")!important;
	}
	
	.ztree li .bottom_open {
		margin-top:5px!important;
		background-position:0!important;;
		background-image:url("/static/ceeemall/images/open1.jpg")!important;
	}
	
	.ztree li {
		padding: 4px 0px;
		display: block;
		list-style: none;
		overflow: visible;
		font-size: 14px;
		font-weight:bold;
		outline: none;
	}
	
	.ztree li a.curSelectedNode{
		height:75%;
		border:none!important;
		color:white!important;
		background-color:#0066cb!important;
	}
	
	.ztree li ul li {
		display: block;
		padding: 4px 0px;
		font-size: 14px;
		font-weight:bold;
		outline: none;
	}
	
	.ztree li ul li a.curSelectedNode{
		height:75%;
		border:none!important;
		color:white!important;
		background-color:#0066cb!important;
	}
    .uInputClick{
        color:#fff!important;
        background-color:#0066cb!important;
    }
</style>
