<#include "../layout/layout.html">

<@layout>
<style>
    .lghz,.csz,.lgs_con{height:210px;overflow-y: scroll;}
    .lghz h6,.csz h6,.lgs_con h6{margin:0 0 0 0;}
    .dl_text120{
        font-size:14px
    }
    .dl_select60{
        font-size:14px
    }
    .dl_w_one{
        font-size:14px
    }
    .error {
        display: block;
    }
</style>

<!-- <div class="con" >
    <ul class="ztree" id="categoryTree">

    </ul>
</div> -->
<div id="userMenuDiv" hidden>
    <#include "../user/menu.html"/>
</div>

<div class="con_right">
    <div class="con_right_top">

        <h1 class="dl_h1" id="categoryNamePath">详情</h1><!--<a href="tianjiacanshu.html"><input type="button" value="修改/新增参数"class="top_button"/></a></h1>-->
        <div class="dl_blue"></div>

    </div>

    <div class="con_right_bottom padding_0">
        <form id="draftForm">
            <div class="dl_w">
                <div class="dl_width200" style="width:800px;">
                    <div class="dl_w_one">问题：</div>
                    <div class="dl_w_two"  id="quesDraftBody"  name="questionDraftBody">
                       <!-- <input name="questionDraftBody" type="text" class="edit dl_text120" style="width:730px;"/>-->
                    </div>
                </div>

            </div>

            <!--     <div class="dl_w">
                     <div class="dl_width300" >
                         <div class="dl_w_one"><em>*</em>难度：</div>
                         <div class="dl_w_two">
                             <select id="diff" name="diff" class="edit dl_select60">
                                 <option value=2>初级</option>
                                 <option value=1>中级</option>
                                 <option value=0>高级</option>
                             </select>
                         </div>
                     </div>

                 </div>-->



            <div class="dl_w">
                <div class="dl_width300" >
                    <div class="dl_w_one">A：</div>
                    <div class="dl_w_two" id="a" name="a">
                       <!-- <input id="a" name="a" class="edit dl_text120" style="width:200px;" type="text">-->
                    </div>
                </div>

            </div>

            <div class="dl_w">
                <div class="dl_width300" >
                    <div class="dl_w_one">B：</div>
                    <div class="dl_w_two" id="b" name="b">
                       <!-- <input id="b" name="b" class="edit dl_text120" style="width:200px;" type="text">-->
                    </div>
                </div>

            </div>


            <div class="dl_w">
                <div class="dl_width300" >
                    <div class="dl_w_one">C：</div>
                    <div class="dl_w_two" id="c" name="c">
                        <!--<input id="c" name="c" class="edit dl_text120" style="width:200px;" type="text">-->
                    </div>
                </div>

            </div>

            <div class="dl_w">
                <div class="dl_width300" >
                    <div class="dl_w_one">D：</div>
                    <div class="dl_w_two" id="d" name="d">
                       <!-- <input id="d" name="d" class="edit dl_text120" style="width:200px;" type="text">-->
                    </div>
                </div>

            </div>

            <div class="dl_w">
                <div class="dl_width160">
                    <div class="dl_w_one">正确答案：</div>
                    <div class="dl_w_two" id="rightAns" name="rightAns" >
                       <!-- <select id="rightAns" name="rightAns" class="edit dl_select60">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>-->
                    </div>
                </div>

            </div>


        </form>
      <!--  <div class="dl_w">
            <div class="dl_width200" style="width:800px;">
                <div class="dl_w_one">

                  &lt;!&ndash;  <div    style="font-size: 17px">
                        出题者： <span id="registUser" style="font-size: 17px"></span> &nbsp;&nbsp;&nbsp;&nbsp;
                        提交时间：<span id="registTime" style="font-size: 17px"></span>
                    </div>&ndash;&gt;

                    &lt;!&ndash; <div class="dl_w_one" >提交时间：</div>&ndash;&gt;

                    &lt;!&ndash;<div   class="edit dl_text120" style=""> </div>&ndash;&gt;
                </div>
            </div>

        </div>-->
    </div>

    <table hidden style=" margin: 0;width:700px" id="UpdateLogDiv" class="biaoge dataTable">
        <tr>
            <td style="width:140px;border-left: 1px solid rgb(0, 0, 0);border-bottom: 1px solid rgb(0, 0, 0);border-top: 1px solid rgb(0, 0, 0); ">出题者微信名：</td>
            <td style="width:260px;border-bottom: 1px solid rgb(0, 0, 0);border-top: 1px solid rgb(0, 0, 0);" id="registUser"></td>
            <td style=" width:110px;border-bottom: 1px solid rgb(0, 0, 0);border-top: 1px solid rgb(0, 0, 0);">提交时间：</td>
            <td style="width:260px;border-right: 1px solid rgb(0, 0, 0);border-bottom: 1px solid rgb(0, 0, 0);border-top: 1px solid rgb(0, 0, 0);" id="registTime"></td>
        </tr>
        <tr>
            <td style="width:140px;border-left: 1px solid rgb(0, 0, 0);border-bottom: 1px solid rgb(0, 0, 0);border-top: 1px solid rgb(0, 0, 0);">审核人员：</td>
            <td style="width:260px;border-bottom: 1px solid rgb(0, 0, 0);border-top: 1px solid rgb(0, 0, 0);" id="checker"></td>
            <td style="width:110px;border-bottom: 1px solid rgb(0, 0, 0);border-top: 1px solid rgb(0, 0, 0);">审核时间：</td>
            <td style="width:260px;border-right: 1px solid rgb(0, 0, 0);border-bottom: 1px solid rgb(0, 0, 0);border-top: 1px solid rgb(0, 0, 0);" id="checkTime"></td>
        </tr>
    </table>




    <div id="oprateBtn" style="text-align: center;">
        <!-- <input  hidden type="button" class="two_button cgb" id="submitQues" value="提交">-->
        <input type="button" class="two_button cgb" id="deleteById" value="删除">
        <input type="button"  class="two_button cgb" onclick="javascript:history.back(-1);" value="返回" >
    </div>



</div>
<!--隐藏域-->

<div hidden id="moveDiv">
    <ul class="ztree" id="moveTree">

    </ul>
</div>
<@security.authorize access="hasRole('CHECKER') or hasRole('INPUTER')">
<input hidden id="roleId" value="0">
</@security.authorize>
<@security.authorize access="hasRole('DATA')  or hasRole('ADMIN')">
<input hidden id="roleId" value="1">
</@security.authorize>

<input type="hidden" id="categoryId" name="categoryId"  value="">
<script>
    var jsonTextInit ;
    $(function() {
        $(document).attr("title","试题展示-详情");
        //初始化表单数据
        if($("#roleId").val() == 0){
            $("#deleteById").hide()
        }


        let menuVal = getUrlParam("menu");
        if(menuVal == 1){
            openMenu("grgl");
            openUserMenu("unexamine");
            $(document).attr("title","我的任务-未审核");
            $("#userMenuDiv").show();
            $(".con_right").css("width", "850px");
        } else if(menuVal == 2){
            $(document).attr("title","我的任务-已提交");
            openMenu("grgl");
            openUserMenu("findsubmit");
            $("#userMenuDiv").show();
            $(".con_right").css("width", "850px");
        } else {
            openMenu("shxg");
            $(document).attr("title","审核修改");
            $("#userMenuDiv").hide();
            $(".con_right").css("width", "1100px");
        }

        // queryCategoryTree(categorySetting);

        /*获取目录树*/
        loadQuestion();


        // /*加载题目信息*/
        // setTimeout("openTree()", "500");
        // /*展开题目目录*/

        $("#draftForm").validate({
            rules: {
                questionDraftBody:{
                    required: true,
                    maxlength:50
                },
                a:{
                    required: true,
                    maxlength:10
                },
                b:{
                    required: true,
                    maxlength:10
                },
                c:{
                    required: true,
                    maxlength:10
                },
                d:{
                    required: true,
                    maxlength:10
                }
            },
            messages:{
                questionDraftBody:{
                    required: "必填",
                    maxlength:"请输入内容不超过50个字的问题"
                },
                a:{
                    required: "必填",
                    maxlength:"请输入内容不超过10个字的答案"
                },
                b:{
                    required: "必填",
                    maxlength:"请输入内容不超过10个字的答案"
                },
                c:{
                    required: "必填",
                    maxlength:"请输入内容不超过10个字的答案"
                },
                d:{
                    required: "必填",
                    maxlength:"请输入内容不超过10个字的答案"
                }
            }
        })
    });

    var questionDraft = {};
    var questionDraftId = getUrlParam("id");



    function deleteById(id) {
        App.showConfirm("question","确定要删除该数据吗?", function(){
            $.ajax({
                url: "/questiondraft/delete/"+id,
                type: "delete",
                success: function (data) {
                    App.showMessage("succeed", data.message, function(){
                        /*刷新题目数据*/
                        tableList.ajax.reload()
                    })
                }
            });
        })
    }



    /*  $("#draftForm :input").live('input propertychange',function () {


      });*/









    //数据回显
    function loadQuestion() {
        var id = getUrlParam("id");
        var oprate = getUrlParam("oprate");
        var categoryId ;

        if (oprate == 3) {
            //从草稿箱来的查看
            $("#tuihui").hide();
            $("#moveQues").hide();
            $("#daiding").hide();
            $("#ruku").hide();
            $("#submitQues").show()
        }

        if (oprate == 4) {
            //查看已提交数据
            $("#tuihui").hide();
            $("#moveQues").hide();
            $("#daiding").hide();
            $("#ruku").hide();
            $("#deleteById").hide();
            $(".edit").prop("disabled", true);
        }

        $.ajax({
            url: "/questiondraft/findOne/" + id + "/" + oprate,
            type: "GET",
            success: function(data) {
                questionDraft = data.data;
                console.log(questionDraft)
                if (oprate == 0) {
                    $('#quesDraftBody').val(data.data.questionBody);
                    categoryId = $('#categoryId').val(data.data.categoryId);

                } else {
                    $('#quesDraftBody').html(questionDraft.questionDraftBody);
                    categoryId = $('#categoryId').val(questionDraft.categoryId);
                }

                // $('#diff option[value="' + data.data.difficulty + '"]').prop("selected", true);
                $('#a').html(questionDraft.a);
                $('#b').html(questionDraft.b);
                $('#c').html(questionDraft.c);
                $('#d').html(questionDraft.d);
                $('#rightAns').html(questionDraft.rightanswer)
               /* $('#rightAns option[value="' + questionDraft.rightanswer + '"]').prop("selected", true);*/
              /*  $('#registUser').html(questionDraft.registUser);
                $('#registTime').html(questionDraft.registTime)*/
                //如果是管理员或者数据权限的人 则可以看见
                if(oprate == "2" && $("#roleId").val() == 1 ) {
                    //提交时间
                    $('#registTime').html(questionDraft.registTime);
                    //输入人员
                    $('#registUser').html(questionDraft.importer);
                    //审核人员
                      $('#checker').html(questionDraft.checker);
                    //审核时间
                     $('#checkTime').html(data.data.checkTime);
                    $("#UpdateLogDiv").show();
                    $("#adminUpdate").show();
                    $("#adminMove").show();
                }
                     var logList = data.data.updateLog
                     console.log(logList)

                if(logList!=null){
                    var html=""
                    for (var i = 0;i<logList.length;i++){
                        html +="<tr>";
                        html +=" <td style='width:90px;border-left: 1px solid rgb(0, 0, 0);border-bottom: 1px solid rgb(0, 0, 0);border-top: 1px solid rgb(0, 0, 0);'>";
                        html += logList[i].type+"人员 : </td>";
                        html +=" <td style='width:260px;border-bottom: 1px solid rgb(0, 0, 0);border-top: 1px solid rgb(0, 0, 0);'>" +logList[i].userName+"  </td>";
                        html +=" <td style='width:90px;border-bottom: 1px solid rgb(0, 0, 0);border-top: 1px solid rgb(0, 0, 0);'>";
                        html += logList[i].type+"时间 : </td>";
                        html +=" <td style='width:260px;border-right: 1px solid rgb(0, 0, 0);border-bottom: 1px solid rgb(0, 0, 0);border-top: 1px solid rgb(0, 0, 0);'>";
                        html += logList[i].updateLogTime;
                        html +="</td></tr>";
                    }
                    $("#UpdateLogDiv").append(html);
                }

                //查询相似题干

                if (questionDraft.isLike == 1){
                    //有相似题
                    $.ajax({
                        url:"/question/keyWords/"+questionDraftId,
                        type: "POST",
                        success:function (data) {
                            //将返回的数据的题干放入表中

                            var questions = data.data;
                            console.log(questions)
                            if (questions != null ){
                                $("#likeQues").show();
                                //遍历显示题干
                                var html=""
                                for (var i = 0;i<questions.length;i++){
                                    html +="<tr>";
                                    html +=" <td style='font-size: 17px;width:260px;border: 1px solid rgb(0, 0, 0);'>" +questions[i].questionBody+"</td>";
                                    html +="</tr>";
                                }
                                $("#likeQuesData").append(html);
                            }
                        }
                    });
                }




                $.ajax({
                    url: "/category/findNamePathById",
                    type: "POST",
                    data: categoryId,
                    success: function (result) {
                        console.log(result)
                        $('#categoryNamePath').html(result.data);
                    }
                })




            }
        })
    }

    /*移动目录*/
    $("#moveQues").click(function() {
        //加载树
        var categoryId = questionDraft.categoryId;
        queryMoveTree(moveTreeSetting, categoryId);
        var oprate = 1;
        /*0：表示正式表数据 1 表示移动草稿表数据*/
        $("#moveDiv").dialog({
            title: "问题移动目录",
            autoOpen: true,
            width: 200,
            modal: true,
            buttons: {
                "移动": function() {
                    var categoryId = $('#categoryId').val();
                    if(categoryId){
                        $.ajax({
                            url: "/questiondraft/move/" + questionDraftId + "/" + categoryId + "/" + oprate,
                            type: "Put",
                            success: function(data) {
                                App.showMessage("succeed", data.message, function(){
                                    $("#moveDiv").dialog("close");
                                    //返回审核列表
                                    history.go( - 1)
                                })
                            }
                        });
                    } else {
                        App.showMessage("warning", "请选择移动目录")
                    }
                },
                "取消": function() {
                    $("#moveDiv").dialog("close");
                }
            },
            show: {
                effect: "fade",
                duration: 500
            },
            hide: {
                effect: "fade",
                duration: 500
            },
            closeOnEscape: false,
            beforeClose: function(event, ui) {},
            close: function(event, ui) {
                $("#moveDiv").dialog("destroy");
            }
        });
    });



    $("#deleteById").click(function() {

        App.showConfirm("question", "此操作将不可恢复，是否删除?", function(){
            $.ajax({
                url: "/questiondraft/deleteClear/" + questionDraftId,
                type: "delete",
                success: function(data) {
                    App.showMessage("succeed", data.message, function(){
                        //返回审核列表
                        history.go( - 1)
                    })
                }
            });
        })
    });

    $("#ruku").click(function() {
        if($("#draftForm").valid()){
            //oprate =2 代表审核通过 进行入库操作
            var oprate = 2;
            App.showConfirm("question", "确定通过该数据吗", function(){

                questionDraft.questionDraftBody = $("#quesDraftBody").val();
                questionDraft.difficulty = $("#diff").val();
                questionDraft.a = $("#a").val();
                questionDraft.b = $("#b").val();
                questionDraft.c = $("#c").val();
                questionDraft.d = $("#d").val();
                questionDraft.rightanswer = $("#rightAns").val()

                $.ajax({
                    url: "/questiondraft/check/" + questionDraftId + "/" + oprate,
                    type: "get",
                    data: questionDraft,
                    success: function(data) {

                        App.showMessage("succeed", data.message, function(){
                            //返回审核列表
                            window.history.back();
                        })

                    }
                });

            })

        }
    });

    //查询目录信息方法
    function queryMoveTree(moveTreeSetting, categoryId) {
        $.ajax({
            "type": "post",
            "url": "/category/findParentId",
            "data": {
                "categoryId": categoryId
            },
            "dataType": "json",
            "success": function(dataParenId) {

                $.ajax({
                    "type": "post",
                    "url": "/category/ztree",
                    "dataType": "json",
                    "success": function(data) {
                        zNodes = data;
                        var t = $("#moveTree");
                        t = $.fn.zTree.init(t, moveTreeSetting, zNodes);
                        var zTree = $.fn.zTree.getZTreeObj("moveTree");
                        var rootNode = zTree.getNodeByParam("id", 0);
                        zTree.expandNode(rootNode, true, false);
                        zTree.setting.edit.drag.isCopy = false;
                        zTree.setting.edit.drag.isMove = true;
                        zTree.setting.edit.drag.prev = true;
                        zTree.setting.edit.drag.inner = true;
                        zTree.setting.edit.drag.next = true;
                        if (dataParenId != null) {
                            zTree.expandNode(zTree.getNodeByParam("id", dataParenId, null)); //展开指定节点
                            zTree.selectNode(zTree.getNodeByParam("id", categoryId, null)); //选中指定节点
                        }
                    }
                });
            }
        });
    }

    /* 移动分类类目配置信息 */
    var moveTreeSetting = {
        edit: {
            enable: false
        },
        view: {
            selectedMulti: true,
            dblClickExpand: false,
            showIcon: false,
            showLine: true,
            showTitle: true,
            fontCss: {
                'font-size': '15px;',
                'color': '#0066c'
            } //统一设置样式
        },
        data: {
            simpleData: {
                enable: true,
                idKey: "id",
                pIdKey: "pid",
                rootPId: ""
            }
        },
        callback: {
            beforeClick: function(treeId, treeNode) {
                $("#categoryId").val("");
                if(!treeNode.isParent){
                    $("#categoryId").val(treeNode.id);
                }
                return true;
            }
        }
    };

    /*展开题目目录*/
    /* function openTree() {
        var categoryId = $("#categoryId").val();
        var data = {
            "categoryId": categoryId
        };
        $.ajax({
            "type": "post",
            "url": "/category/findParentId",
            "dataType": "json",
            "data": data,
            "success": function(data) {
                if (data != null) {
                    var zTree = $.fn.zTree.getZTreeObj("categoryTree");
                    zTree.expandNode(zTree.getNodeByParam("id", data, null)); //展开指定节点
                    zTree.selectNode(zTree.getNodeByParam("id", categoryId, null)); //选中指定节点
                }
            }
        });
    } */

    //查询目录信息方法
    /* function queryCategoryTree(categorySetting) {
        $.ajax({
            "type": "post",
            "url": "/category/ztree",
            "dataType": "json",
            "success": function(data) {
                zNodes = data;
                var t = $("#categoryTree");
                t = $.fn.zTree.init(t, categorySetting, zNodes);
                var zTree = $.fn.zTree.getZTreeObj("categoryTree");
                var rootNode = zTree.getNodeByParam("id", 0);
                zTree.expandNode(rootNode, true, false);
                zTree.setting.edit.drag.isCopy = false;
                zTree.setting.edit.drag.isMove = true;
                zTree.setting.edit.drag.prev = true;
                zTree.setting.edit.drag.inner = true;
                zTree.setting.edit.drag.next = true;
            }
        });
    } */

    /* 分类类目树开始 */
    var zTree;
    /* 分类类目配置信息 */
    var categorySetting = {
        edit: {
            enable: false
        },
        view: {
            selectedMulti: true,
            dblClickExpand: false,
            showIcon: false,
            showLine: true,
            showTitle: true,
            fontCss: {
                'font-size': '15px;',
                'color': '#0066c'
            } //统一设置样式
        },
        data: {
            simpleData: {
                enable: true,
                idKey: "id",
                pIdKey: "pid",
                rootPId: ""
            }
        },
        callback: {
            beforeClick: function(treeId, treeNode) {
                var zTree = $.fn.zTree.getZTreeObj("categoryTree");
                //   $("#categoryName").html(treeNode.name);
                return true;
            }
        }
    };

    /*获取url中的值*/
    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); // 构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg); // 匹配目标参数
        if (r != null) return unescape(r[2]);
        return null; // 返回参数值
    }
</script>
</@layout>