<#include "../layout/layout.html"/>

<@layout>
<#include "menu.html"/>
<!--<link type="text/css" rel="stylesheet" href="css/geren.css" >-->
<style>
</style>
<div class="con_right">
    <div class="con_right_top">
        <h1 class="dl_h1">审核统计</h1>
        <div class="dl_blue"></div>

    </div>
    <div class="con_right_bottom padding_0">

        <div class="con" style="width: 250px">
            <ul class="ztree" id="categoryTree">

            </ul>
            <li style=" color:#0066cc;font-size:18px;height:30px;line-height:30px;font-weight: bold;">总计:
                <span style="padding-right:5px;float:right;font-size:18px;height:30px;line-height:30px;" id="allCount">(0)</span></li>
        </div>


    </div>
</div>
<script>
    $(function () {
        $(document).attr("title","审核统计");
        openMenu("grgl");
        openUserMenu("checkStatis");/*目录添加颜色*/
        /*loadAllCount();  统计总个数*/
        queryCategoryTree(categorySetting);/*统计单个数*/
    })

    //查询目录信息方法
    function queryCategoryTree(categorySetting) {
        $.ajax({
            "type": "post",
            "url": "/category/findAllCategoryZtree",
            "dataType": "json",
            "success": function (data) {
                zNodes = data;
                var t = $("#categoryTree");
                t = $.fn.zTree.init(t, categorySetting, zNodes);
                var zTree = $.fn.zTree.getZTreeObj("categoryTree");
                var rootNode = zTree.getNodeByParam("id", 0);
                zTree.expandNode(rootNode, true, false);
                zTree.setting.edit.drag.isCopy = false;
                zTree.setting.edit.drag.isMove = true;
                zTree.setting.edit.drag.prev = true;
                zTree.setting.edit.drag.inner = true;
                zTree.setting.edit.drag.next = true;
                /*加载目录下 题目的数量*/
                loadTreeCount();
            }
        });
    }

    /*加载目录树后题目的个数*/
    function loadTreeCount() {
        var id = $("#hiddenUserId").text();
        $.ajax({
            "type": "POST",
            "url": "/statistics/queryCheck",
            "dataType": "json",
            "data":{"checkUserId":id},
            "success": function (data) {
                if (data == null) {
                    return null;
                }
                //目录集合个数
                var cateMap = data[0]["cateMap"];
                //总个数
                var sum = data[0]["sum"];
                //目录被修改的集合个数
                var updateMap = data[0]["updateMap"];
                var zTree = $.fn.zTree.getZTreeObj("categoryTree");

                for (var key in cateMap) {
                    if(updateMap[key] == null){
                        $("#treeId" + key).text("" + cateMap[key] +"("+ 0 +")");
                    }else {
                        $("#treeId" + key).text("" + cateMap[key] +"("+ updateMap[key] +")");
                    }
                }

                $("#allCount").text("" + sum["sum"]+ "("+ sum["Updatesum"] +")");
            }
        })

    }



    /*加载总个数*/
    function loadAllCount() {
        var id = $("#hiddenUserId").text();
        $.ajax({
            "type": "POST",
            "url": "/statistics/allCount",
            "dataType": "json",
            "data":{"checkUserId":id},
            "success": function (data) {
                if (data == null) {
                    return null;
                }
                $("#allCount").text("(" + data.data.allCount + "("+data.data.uodateCount+"))");
            }
        })

    }

    /* 分类类目树开始 */
    var zTree;
    /* 分类类目配置信息 */
    var categorySetting = {
        edit: {
            enable: false
        },
        view: {
            selectedMulti: true,
            dblClickExpand: false,
            showIcon: false,
            showLine: true,
            showTitle: true,
            addDiyDom: addDiyDom,
            fontCss: {'font-size': '13px;', 'color': '#0066c'}//统一设置样式
        },
        data: {
            simpleData: {
                enable: true,
                idKey: "id",
                pIdKey: "pid",
                rootPId: ""
            }
        },
        callback: {
        }
    };


    function addDiyDom(treeId, treeNode) {
        var spaceWidth = 2;
        var icoObj = $("#" + treeNode.tId + "_ico");
        var contentObj = $("#" + treeNode.tId + "_span");
        contentObj.attr("class", "tree-span");
        var aContent = $("#" + treeNode.tId + "_a");

        if (treeNode.level == 0) {
            aContent.attr("class", "tree_a");
        }
        if (treeNode.level == 1) {
            aContent.attr("class", "tree_a1");
        }
        if (treeNode.level == 2) {
            aContent.attr("class", "tree_a2");
        }
        if (treeNode.level == 3) {
            aContent.attr("class", "tree_a3");
        }
        if (treeNode.level > 4) {
            aContent.attr("class", "tree_a4");
        }

        aContent.after("<span style='margin-top:3px;color:#0066cc;float:right' class='add-num' id='treeId" + treeNode.id + "' name=" + treeNode.level + ">(0)</span>");
    }
</script>
</@layout>