<#include "../layout/layout.html">
<@layout>
<#include "menu.html"/><link type="text/css" rel="stylesheet" href="../../static/ceeemall/css/caozuojilu.css">
<style>
	.dl_width158 {
		width: 300px;
		height: 30px;
		float: left;
	}
		
	.dl_w_two {
		width: 200px
	}
	.tdpd{
		padding: 0px 0px 0px 5px!important
	}
	.td{
		padding: 0px!important
	}
	.biaoge tr {
		font-size: 12px;
		height: 30px;
		 line-height: 18px;
	}
	.biaoge td { border: 0px solid #999;font-size:16px}
</style>
        <div class="con_right">
            <div class="con_right_top">
                <h1 class="dl_h1" id="categoryName">申诉处理<!--<a href="tianjiayonghu.html"><input  style="padding:6px 10px;"type="button" value="添加账户"class="top_button"/></a>--></h1>
                <div class="dl_blue"></div>
            </div>
            <div class="con_right_bottom padding_0">
                <div class="dl_h">
                    <div class="user_canshu">
                    	<div class="dl_w">
		                    <div class="dl_width200" style="width:900px;">
		                        <div class="dl_w_one"><em></em>问题：</div>
		                        <div class="dl_w_two" id="quesBody" style="width:800px;"></div>
		                    </div>
		                </div>
		
		                <div class="dl_w">
		                    <div class="dl_width300" >
		                        <div class="dl_w_one"><em></em>A：</div>
		                        <div class="dl_w_two" id="a"  style="width:200px;"></div>
		                    </div>
		
		                </div>
		
		                <div class="dl_w">
		                    <div class="dl_width300" >
		                        <div class="dl_w_one"><em></em>B：</div>
		                        <div class="dl_w_two" id="b"></div>
		                    </div>
		
		                </div>
		
		
		                <div class="dl_w">
		                    <div class="dl_width300" >
		                        <div class="dl_w_one"><em></em>C：</div>
		                        <div class="dl_w_two" id="c"></div>
		                    </div>
		
		                </div>
		
		                <div class="dl_w">
		                    <div class="dl_width300" >
		                        <div class="dl_w_one"><em></em>D：</div>
		                        <div class="dl_w_two" id="d" ></div>
		                    </div>
		                </div>
		                
		                <div class="dl_w">
		                    <div class="dl_width300" >
		                        <div class="dl_w_one"><em></em>正确答案：</div>
		                        <div class="dl_w_two" id="rightAns" ></div>
		                    </div>
		                </div>

<table style="margin: 0;width:700px" id="UpdateLogDiv" class="biaoge dataTable no-footer">
		                	<tr style="height:100px">
		                		<td style="vertical-align: text-top;width:140px;border-top: 1px solid rgb(0, 0, 0);border-left: 1px solid rgb(0, 0, 0);">申诉内容：</td>
		                		<td colspan="3" style="vertical-align: text-top;width:260px;border-right: 1px solid rgb(0, 0, 0);border-top: 1px solid rgb(0, 0, 0);">
		                			<div style="padding: 5px;border: 1px solid rgb(0, 0, 0);width: 100%;height:100px;" id="appealContent"></div>
		                		</td>
		                	</tr>
		                	<tr>
		                		<td style="width:140px;border-left: 1px solid rgb(0, 0, 0);border-bottom: 1px solid rgb(0, 0, 0);">申诉人：</td>
		                		<td style="width:260px;border-bottom: 1px solid rgb(0, 0, 0);" id="sendUser"></td>
		                		<td style=" width:110px;border-bottom: 1px solid rgb(0, 0, 0);">申诉时间：</td>
		                		<td style="width:260px;border-right: 1px solid rgb(0, 0, 0);border-bottom: 1px solid rgb(0, 0, 0);" id="sendTime"></td>
		                	</tr>
		                	<tr style="height:100px">
		                		<td style="vertical-align: text-top;width:140px;border-left: 1px solid rgb(0, 0, 0);">处理意见：</td>
		                		<td colspan="3" style="width:260px;border-right: 1px solid rgb(0, 0, 0);">
		                			<div style="padding: 5px;border: 1px solid rgb(0, 0, 0);width: 100%;height:100px;" id="reciveContent"></div>
		                		</td>
		                	</tr>
		                	<tr>
		                		<td style="width:140px;border-left: 1px solid rgb(0, 0, 0);border-bottom: 1px solid rgb(0, 0, 0);">处理人：</td>
		                		<td style="width:260px;border-bottom: 1px solid rgb(0, 0, 0);" id="reciveUser"></td>
		                		<td style=" width:110px;border-bottom: 1px solid rgb(0, 0, 0);">处理时间：</td>
		                		<td style="width:260px;border-right: 1px solid rgb(0, 0, 0);border-bottom: 1px solid rgb(0, 0, 0);" id="reciveTime"></td>
		                	</tr>
		                </table>

						<div style="text-align: center;">
		                    <input type="button"  class="two_button" onclick="javascript:history.back(-1);" value="返回"
		                     style="padding:10px 20px;font-size:20px;">
            			</div>
            			
            			<div class="likeQues"  hidden style="margin-top:20px">
            			<span style="font-size: 17px;color: red">相似题目:</span>
			            <table  style="margin: 0;width:700px;font-size: 17px" id="likeQuesData" class="biaoge dataTable">
			            </table>
			            </div>
                    </div>
                </div>

            </div>
        </div>
<script>
	$(function(){
		$(document).attr("title","申诉管理");
	    openMenu("xtkf");//导航栏回显
	    openAdminMenu("appealList");/*目录添加颜色*/

	    $.ajax({
	    	type:"get",
	    	url:"/sysnews/" + getUrlParam("id"),
	    	success:function(data){
	    		let obj = data.data
	    		$("#sendTime").text(obj.appealTime);
	    		$("#sendUser").text(obj.appealUser.nickName);
	    		$("#appealContent").text(obj.appealContent);
	    		$("#reciveTime").text(obj.reciveTime);
	    		$("#reciveUser").text(obj.reciveUser.username);
	    		$("#reciveContent").text(obj.reciveContent);
	    		loadQuestion(obj.objId, obj.oprate);
	    		
	    		$.ajax({
                    url:"/sysnews/similarQues/" + getUrlParam("id"),
                    type: "get",
                    success:function (data) {
                        //将返回的数据的题干放入表中

                        var questions = data;
                        if (questions && questions.length > 0){
                            $(".likeQues").show();
                            //遍历显示题干
                            var html=""
                            for (var i = 0;i<questions.length;i++){
                                html +="<tr>";
                                html +=" <td style='font-size: 17px;width:260px;border: 1px solid rgb(0, 0, 0);'>" +questions[i].questionBody+"</td>";
                                html +="</tr>";
                            }
                            $("#likeQuesData").append(html);
                        }
                    }
                });
	    	}
	    })
	})
	
	function loadQuestion(id, oprate){
        $.ajax({
            url: "/questiondraft/findOne/" + id + "/" + oprate,
            type: "GET",
            success: function (data) {
            	$('#quesBody').html(data.data.questionBody?data.data.questionBody:data.data.questionDraftBody);
                $('#a').html(data.data.a);
                $('#b').html(data.data.b);
                $('#c').html(data.data.c);
                $('#d').html(data.data.d);
                $('#rightAns').html(data.data.rightanswer);
                showCategoryName(data.data.categoryId);//展示目录名称信息
            }
        })
    }
	
	/*展示题目上方目录信息*/
    function showCategoryName(categoryId) {
        $.ajax({
            type: "post",
            url: "/category/findNamePathById",
            data: {"categoryId": categoryId},
            dataType: "json",
            success: function (data) {
                if(data.flag){
                    $("#categoryName").html(data.data);
                }
            }
        });
    }
	
	/*获取url中的值*/
    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); // 构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  // 匹配目标参数
        if (r != null) return unescape(r[2]); return null; // 返回参数值
    }
</script>
</@layout>