.tu{background:url("../images/bjweb2.png") no-repeat;width:800px;height:780px;margin:0 auto;  background-size:cover;position:relative;}
.juzhong{background:#8dc0cd!important;}
.renwu{background:url("../images/renwu.png") no-repeat; width:285px;height:470px;position:absolute;left:170px;bottom:100px;}
.chuti{background:url("../images/chuti.png") no-repeat;width:162px;height:290px;position:absolute;right:120px;bottom:200px;}